@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white bg-opacity-20 backdrop-blur-lg border border-white border-opacity-30 shadow-lg;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

@keyframes gradient-x {
  0% { background-position: 0% 0%; }
  100% { background-position: 200% 0%; }
}

.animate-gradient-x {
  background-size: 200% auto !important;
  animation: gradient-x 8s linear infinite !important;
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

.animate-shimmer {
  background: linear-gradient(90deg, #f0fdf4 25%, #fcfdfd 50%, #f0fdf4 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-gray-800 bg-gray-50;
}
